@import url("colores.less");

body{
	background-color: @grisbody;
}

.container-body-general{
	display:flex;
	display:-webkit-flex;
	justify-content:center;
	width:100%;
}

.container-body{
	display:flex;
	display:-webkit-flex;
	justify-content:center;
	width:80%;
	background-color:@blancocontainer;
}

.container-body > .row{
	display:flex;
	display:-webkit-flex;
	justify-content:center;
	width:100%;
}

.hr-cursos{
	display: flex;
	display: -webkit-flex;
	width: 100%;
}

.flex-right{
	display: flex;
	display: -webkit-flex;
	width:50%;
	justify-content: flex-end;
}

.flex-center{
	display: flex;
	display: -webkit-flex;
	width:100%;
	justify-content: center;
}

.text-center{
	display: flex;
	display:-webkit-flex;
	width: 100%;
	justify-content: center;
}

.text-left{
	display: flex;
	display:-webkit-flex;
	width: 100%;
	justify-content: flex-start;
}

.text-right{
	display: flex;
	display:-webkit-flex;
	width: 100%;
	justify-content: flex-end;
}

.btn-link{
	text-decoration: none !important;
}

.botonera > button, .botonera > a{
	position:relative;
	margin-right:1em !important;
}

.ocultar{
	display:none;
}

.mostrar{
	display: flex;
	display:-webkit-flex;
}